
<div class="row">
  <form accept-charset="utf-8" action="<%= route %>" method="<%= action %>">
    <label for="title">Title:</label>
    <input id="title" name="front_view[title]" type="text" value="<%= @front_view.title %>">/</input>
    <br/>
    <label for="description">Description:</label>
    <textarea id="description" name="front_view[description]" type="text"><%= @front_view.description %></textarea>
    <br/>
    <label for="image_file">Image File:</label>
    <input id="image_file" name="front_view[image_file]" type="text" value="<%= @front_view.image_file %>">/</input>
    <br/>
    <button type="submit">Save Front View</button>
  </form>
</div>
