<div class="row">
  <form accept-charset="utf-8" action="<%= route %>" method="<%= action %>", enctype='multipart/form-data'>
    <label for="title">Title:</label>
    <input id="title" name="blogger[title]" type="text" value="<%= @blogger.title %>">/</input>
    <br/>
    <label for="author">Author:</label>
    <input id="author" name="blogger[author]" type="text" value="<%= @blogger.author %>">/</input>
    <br/>
    <textarea rows=14 id="content" name="blogger[content]" type="text"><%= @blogger.content %></textarea>
    <br/>
    <label for="tag">Tag:</label>
    <input id="tag" name="blogger[tag]" type="text" value="<%= @blogger.tag %>">/</input>
    <br/>
    <button type="submit">Post now</button>
  </form>
</div>
