!!!
%html
  = haml :main_head
  %body.aha_background.wordpress.blogid-1.y2014.m07.d25.h14.home.singular.slug-home.page.pageid-4.page-author-ggarcia.page-comments-closed.page-pings-closed.page-template.page-template-template-page-fullwidth-php.mac.chrome.ch{:onresize => "resizeBg();"}
    = haml :main_body
    #pre-wrapper
      #wrapper.hfeed
        = haml :main_header
        #main
          #container
            #content
              #post-8.post-8.page.type-page.status-publish.hentry
              %h1.entry-title WHO WE ARE
              = yield
              #comments
              / #comments
            / #content
          / #container
        / #main
        = haml :main_footer
